
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide-shm
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide-wal
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide
CarERP/.vs/CarERP/v15/Server/sqlite3/db.lock
CarERP/.vs/CarERP/v15/.suo
CarERP/.vs/CarERP/v15/.suo
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide
CarERP/.vs/CarERP/v15/Server/sqlite3/storage.ide-shm
CarERP/.vs/config/applicationhost.config
CarERP/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
CarERP/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
CarERP/packages/bootstrap.3.0.0/content/Content/bootstrap.css
CarERP/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
CarERP/packages/Modernizr.2.6.2/Tools/uninstall.ps1
CarERP/packages/Modernizr.2.6.2/Tools/common.ps1
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.exe
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XmlDocument.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XPath.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.XPath.XDocument.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.rsp
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Text.Encoding.CodePages.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.X509Certificates.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Primitives.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Encoding.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Cryptography.Algorithms.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Claims.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.Principal.Windows.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Reflection.Metadata.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.Pipes.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.ValueTuple.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/VBCSCompiler.exe
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/vbc.exe.config
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Threading.Thread.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Xml.ReaderWriter.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.Primitives.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.DriveInfo.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.FileSystem.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.StackTrace.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.FileVersionInfo.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Collections.Immutable.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Console.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.AppContext.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Diagnostics.Process.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.IO.Compression.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.VisualBasic.Core.targets
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.DiaSymReader.Native.amd64.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CSharp.Core.targets
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.Scripting.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.CSharp.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.Win32.Primitives.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.rsp
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.exe.config
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csi.exe
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.rsp
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.exe
CarERP/packages/Microsoft.Net.Compilers.2.1.0/ThirdPartyNotices.rtf
CarERP/packages/Microsoft.Net.Compilers.2.1.0/Microsoft.Net.Compilers.2.1.0.nupkg
CarERP/packages/Microsoft.Net.Compilers.2.1.0/build/Microsoft.Net.Compilers.props
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/uninstall.ps1
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7.nupkg
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.CodeAnalysis.dll
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/VBCSCompiler.exe.config
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.install.xdt
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net46/web.config.uninstall.xdt
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.uninstall.xdt
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/tools/net45/install.ps1
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
CarERP/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.7/content/net45/web.config.install.xdt
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/csc.exe.config
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Uninstall.ps1
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psd1
CarERP/packages/Modernizr.2.6.2/Tools/install.ps1
CarERP/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/System.Security.AccessControl.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
CarERP/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
CarERP/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
CarERP/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
CarERP/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
CarERP/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
CarERP/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
CarERP/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
CarERP/packages/jQuery.1.10.2/Tools/install.ps1
CarERP/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
CarERP/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
CarERP/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
CarERP/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
CarERP/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
CarERP/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
CarERP/packages/jQuery.1.10.2/Tools/common.ps1
CarERP/packages/jQuery.1.10.2/Tools/uninstall.ps1
CarERP/packages/Microsoft.Net.Compilers.2.1.0/tools/Microsoft.DiaSymReader.Native.x86.dll
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
CarERP/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
CarERP/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
CarERP/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
CarERP/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/Install.ps1
CarERP/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
CarERP/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
CarERP/packages/Microsoft.Web.Infrastructure.1.0.0.0/tools/VS.psm1
CarERP/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
CarERP/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
