@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Functional Requirements of this project</h3>

<p>Customers need to be able to make bookings via webpage, phone of site visit.</p>

<p>There should be a prompt login credentials(Cutomers or employees).</p>
<p>Also, allow customers to register.</p>
<p>Process service request and verify booking when available.</p>
<p>Customers/Employees- access to generated qoute for regular service.</p>
<p>Employees must be able to view, modify or add additional service.</p>
<p>Customers must be able to verify new changes.</p>
<p>Itemized invoice should be stored locally(backup).</p>
