@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    352 Lafayette St,<br />
    Salem, MA 01970<br />
    <abbr title="Phone">Phone:</abbr>
    978.542.6000
</address>

<address>
    <strong>Support:</strong> <a href="d_sherpa@salemstate.edu">d_sherpa@salemstate.edu</a><br />
</address>
