@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Salem State University<br />
    Salem, MA <br />
    <abbr title="Phone">P:</abbr>
    617.111.0000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@salemstate.edu">Support@example.com</a><br />
</address>
